h1{
    font-family:"Semi-Bold";
    color: #35414B;

}

h2{
    font-family:"Semi-Bold";
     color: #35414B;
}

h3{
    font-family:"Semi-Bold";
     color: #35414B;
}


body{
    font-family: "Regular";
    color: #4e5a65;;
    
}

header{
    background-color: #fbfafe;
}