.header {
  background-color: #fbfafe;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  width: 60%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header__image {
  width: 70%;
  border-radius: 30px;
  margin: 30px 0px;
}

.header__logo {
  width: 100px;
}

.navbar__menu {
  display: flex;
  gap: 100px;
  list-style: none;
  padding: 0;
}
.navbar__item:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

header{
    background-color: #fbfafe;
}




*/


.tabs-frame-image{
    
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-top: 50px;
    width:615px;
    height:422px;
    border-radius: 100px;
    
}

.tabs__columns{
     display: flex;
     justify-content:space-around; 
     margin-bottom: 50px;

}


.tabs__column__button button{
     
    border: none;
    display: flex;
    justify-content:space-around; 
    margin: auto;
    height: 80px;
    width: 500px;
    background-color: transparent;
     
}


.tabs__column__button {
     
   margin-top: 100px;
     

}

.tabs__column p{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family:sans-serif;
    text-align: center;

}



#btn__button:hover{
    background-color:#f6f3fc ;
}



.custom-button {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  padding: 10px 20px;
  cursor: pointer;
}



    
.image-list {
  list-style: none;
  display: flex;
  gap: 80px;
  margin-top: 0px;
}
.image-list__logo {
  width: 70px;
  height: auto;
  object-fit: contain;
}
