.header {
  background-color: #fbfafe;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  width: 60%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header__image {
  width: 70%;
  border-radius: 30px;
  margin: 30px 0px;
}

.header__logo {
  width: 100px;
}

.navbar__menu {
  display: flex;
  gap: 100px;
  list-style: none;
  padding: 0;
}
.navbar__item:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

header{
    background-color: #fbfafe;
}



    
.image-list {
  list-style: none;
  display: flex;
  gap: 80px;
  margin-top: 0px;
}
.image-list__logo {
  width: 70px;
  height: auto;
  object-fit: contain;
}
