.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__menu {
  list-style: none;
  display: flex;
  padding: 0px;
  margin-top: 80px;
}

.quote__item {
  width: 100%;
}

.quote__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding-top: 20px;
  /* width: 264px; */
  width: 100%;
  height: 100px;
}

.quote__button:hover {
  background: var(--color-primary-light);
}

.quote__button--active {
  border-top: 4px solid var(--color-primary);
}

.quote__user {
  object-fit: contain;
  width: 48px;
  height: 48px;
}

.quote__text {
  margin: 0px;
}

.quote__text-block {
  margin-left: 15px;
  text-align: left;
}
