.tabs-frame-image{
    
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-top: 50px;
    width:615px;
    height:422px;
    border-radius: 100px;
    
}

.tabs__columns{
     display: flex;
     justify-content:space-evenly; 
     

}


.tabs__column__button button{
     
    border: none;
    display: flex;
    justify-content:space-evenly; 
    margin: auto;
    height: 100px;
    width: 500px;
    background-color: transparent;
    font-size: 24px;
     
}


.tabs__column__button {
     
   margin-top: 20px;
     

}

.tabs__column p{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family:sans-serif;
    text-align: center;

}

.tabs__column{
    font-size: 16px;
    margin: 20px;
    font-weight: 600;
    font-family:sans-serif;
    text-align: center;

}



#btn__button:hover{
    background-color:#f6f3fc ;
    border-left: 12px solid #796eff;
    
}



.custom-button {
  
  flex-direction: column; 
  align-items: center;    
  padding: 10px 20px;
  cursor: pointer;
  
  margin: 100px;
}